#root
{
  padding: 0;
  margin: 0;
}

.box
{
  height: 50px;
  width: 50px;
  background-color: yellow;
}

.horizontal
{
  width: 100%;
  height: 30px;
}
.vertical
{
  width: 50px;
}

.wrapper
{
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
}