#root
{
  color: black;

}
.green
{
  background-color: green;

}
.red
{
  background-color: red;
}

.yellow
{
  background-color: yellow;
}

.light
{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #ccc;
}

.wrapper
{
  display: flex;
  gap: 25px;
  flex-direction: column;
  border: 1px solid black;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}